.content {
  flex: 1;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 4px 3px 1px rgba(0, 0, 0, 0.2);
}

.content .content_title {
  margin: 20px;
  font-family: 'IBM-Bold';
  font-size: 32px;
  line-height: 32px;
}

.content_flex_header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.content_flex_header > svg {
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
}

@media (max-width: 645px) {
  .content {
    width: 100% !important;
    margin: 0;
    /* padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom:20px; */
  }

  .content .content_title {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}