.simple_list_box {
  width: calc(100% - 40px);
  height: auto;
  margin-left: 20px;
}

.simple_list {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(234, 234, 234);
}

.simple_list:last-child {
  border-bottom: none;
}

.simple_list_index {
  font-family: 'IBM-SemiBold';
  font-size: 24px !important;
  user-select: none;
  margin: 0 !important;
}

.simple_list_title {
  font-family: 'IBM-Medium';
  font-size: 18px;
  margin-left: 15px;
}