.image_viewer_box {
  width: 1000px;
  margin: auto;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.image_viewer_box > h2 {
  width: calc(100% - 40px);
  font-family: 'IBM-Bold';
  font-size: 52px;
  line-height: 100px;
  margin-bottom: 30px;
  margin-left: 20px;
  user-select: none;
  border-bottom: 1px solid rgb(234, 234, 234);
}

.image_viewer_photo_box{
  width: calc(100% - 40px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image_content_box {
  width: 100%;
}

.image_content_box > img{
  height: 100%;
  box-shadow: 5px 4px 3px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 645px) {
  .image_viewer_box {
    width: 500px;
    height: auto !important; 
  }

  .image_viewer_box > h2 {
    font-size: 32px;
    line-height: 60px;
    width: calc(100% - 20px);
  }
}