.title_box {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_box svg {
  width: 500px;
}

@media (max-width: 645px) {
  .title_box{
    height: 200px;
  }

  .title_box svg{
    width:300px;
  }
}