.image_slider_box {
  width: 900px;
  height: 500px;
  margin: auto;
}

.image_slider_is_mobile {
  display: none;
  width: 90%;
  height: 50px;
  margin-left: 20px;
  align-items: center;
  padding-bottom: 20px;;
}

.image_slider_is_mobile h2 {
  font-family: 'IBM-Medium';
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 2px;
}

.image_slider_is_mobile svg {
  width: 20px;
}

@media (max-width: 900px) {
  .image_slider_box {
    display: none;
  }

  .image_slider_is_mobile {
    display: flex;
  }
}